#comment-menu {
    border: 1px grey;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: white;
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 40%;
    top: 40%;
  }

  #comment-field {
      border: none;
      width: 300px;
  }

  #cmt-btn {
      border: 2px lightseagreen solid;
      background-color: white;
      color: black;
      font-size: 1rem;
      border-radius: 2px;

      width: 115px;
      height: 30px;
  }

  .highlighted {
      background-color: yellowgreen;
  }