#comment-menu {
    border: 1px solid lightseagreen;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: white;
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 1000;
  }

  #comment-field {
      border: none;
      width: 300px;
  }

  #comment-field:focus {
      outline: none;
  }

  #cmt-btn {
      border: 2px lightseagreen solid;
      background-color: azure;
      color: black;
      font-size: 1rem;
      border-radius: 2px;

      width: 115px;
      height: 30px;
  }

  #cmt-btn:hover {
      background-color: lightblue;
  }

  .highlighted {
      background-color: yellowgreen;
  }

  #new-comment {
      width: 200px;
      height: 200px;
      background-color: lightgoldenrodyellow;
      border: 1px solid yellow;
      box-shadow: 1px 1px 1px lightgrey;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
  }