button {
    /* height: 30px; */
    /* width: 30px; */
    outline: none;
  }

  body {

}

#comment-menu {
  border: 1px black solid;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 40%;
  top: 40%;
}